<div class="media">
 <p class="float-end"><small><%= time_ago_in_words(comment.created_at) %></small></p>
  <div class="d-flex align-items-center">
    <div class="flex-shrink-0">
      <img class="rounded-circle" 
      <% unless User.find(comment.user_id).image.nil? %>
        src="<%= User.find(comment.user_id).image %>"
      <% else %>
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
      <% end %>
      width="40">
    </div>
    <div class="flex-grow-1 ms-3">
      <% unless User.find(comment.user_id).name.nil? %>
        <span><%= User.find(comment.user_id).name %></span>    
      <% else %>
        <span><%= User.find(comment.user_id).email %></span>   
      <% end %>  
    </div>
    </div>

    <div class="mx-auto" style="width: 700px;">
        <i><p class="comment-text"><%= comment.message %><br></p></i>
    </div>
  </div>