<div id="comments-media" class="media">
  <p class="float-end">
    <small><%= time_ago_in_words(comment.created_at) %></small><br>
  </p>

  <div class="d-flex align-items-center">
    <div class="flex-shrink-0">
      <img class="rounded-circle" src="<%= user_image comment %>" width="40">
    </div>
    <div class="flex-grow-1 ms-3">
      <span><%= user_name_link comment %></span>    
    </div>
  </div>

  <div class="mx-auto" style="width: 700px;">
    <i><p id="comment-text" class="comment-text"><%= comment.message %><br></p></i>
    
    <%= render 'comments/like_link', comment: comment %>
    <%= render 'comments/like_count', comment: comment %>
    <%= render 'comments/dislike_link', comment: comment %>

    <% if current_user && user(comment) == current_user %>
      <%= link_to task_comment_path(@task, comment), method: :delete do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
  <% end %>
  </div> 
</div>