<div class="container mt-5">
    <div class="d-flex justify-content-left row">
      <div class="col-md-8">
          <div class="d-flex flex-column comment-section">
            <%= form_with model: [@task, @task.comments.build], local: false do |form| %>
            <div class="bg-light p-2">
              <div class="d-flex flex-row align-items-center">
                <div class="flex-shrink-0">
                  <img class="rounded-circle" src="<%= current_user.image %>" width="40">
                </div>
                 <div class="flex-grow-1 ms-3">
                  <%= form.text_area :message, required: true, class: 'form-control ml-1 shadow-none textarea' %>
                  </div>
              </div>
              <div class="mt-2 text-end">
                <%= form.submit t('comments.reply'), class: 'btn btn-primary btn-sm shadow-none' %>
                <%= button_tag t('comments.cancel'), type: :reset, class: 'btn btn-outline-primary btn-sm ml-1 shadow-none' %>
              </div>
            </div>
            <% end %>
           </div>
        </div>
    </div>
</div>