<%- if controller_name != 'sessions' %>
  <%= link_to t('devise.log_in'), new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to t('devise.sign_up'), new_registration_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to t('devise.forgot_password'), new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %><br>

<%- if devise_mapping.omniauthable? %>
 <div class="d-flex justify-content-start">
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), style: "color: inherit", method: :post do %>
     
      <% if provider.eql?(:facebook) %>
      <div class="p-2">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <% elsif provider.eql?(:google_oauth2) %>
       <div class="p-2">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-google fa-stack-1x fa-inverse"></i>
        </span>
       </div>
      <% end %>
      
    <% end %>

    <br />
  <% end %>
   </div>
<% end %>
