<div class="col-md-7 col-lg-8">
<%= form_with model: @task do |form| %>
<div class="form-group">
  <%= render 'shared/error_messages' %>

  <div class="col-md-8">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %><br>

    <%= form.label :condition %><br>
    <%= form.rich_text_area :condition %><br>

    <%= form.label :answers, class: 'form-label' %>
    <%= form.text_field :answers, class: 'form-control' %>
    <small class="text-muted">Seperate the answers by ' ; '</small>
  </div><br>

  <div class="col-md-3">
    <%= form.label :subject, class: 'form-label' %>
    <%= form.select :subject, options_for_select(Subject.all.map(&:name)), { include_blank: true }, class: "form-select" %><br>

    <%= form.fields_for :tags do |tag_subform| %>
      <%= tag_subform.label :name, "Tags", class: 'form-label' %>
      <%= tag_subform.text_field :name, class: 'form-control' %>
      <small class="text-muted">Seperate the tags by ' ; '</small>
    <% end %>
  </div><br>

  <br>
  <%= form.submit "Add Task", class: 'btn btn-primary' %>
</div>
<% end %>
</div>