<div class="col-lg-8">
  <article>
    <header class="mb-4">
      <h1 class="fw-bolder mb-1"><%= @task.title %></h1>
      <div class="text-muted fst-italic mb-2">
        Added on <%= created_date @task %>
        by <%= user_name_link @task %> 
      </div>

      <%= subject_link @task %>
   </header>

    <section class="mb-5">
        <p class="fs-5 mb-4"><%= @task.condition %></p>
    </section>

    <% unless @task.tags.blank? %>
    <section>
      <p>
        <i class="fas fa-tags"></i>
        <%= tags @task  %> 
      </p>
    </section>
    <% end %><br>

    <% if @task.user_id == current_user.try(:id) %>
      <%= edit_link @task %>
      <%= delete_link @task %>
    <% elsif current_user && no_answer?(@task) %> <hr><br>   
      <h2 class="fw-light"> 
        <%= t('tasks.solve_task') %> 
      </h2><br>
         
      <%= render 'tasks/answer_form.html.erb' %>
    <% end %>

    <section class="rating-section"><br><br>  
      <% if current_user && no_rating?(@task) %>
        <%= render 'ratings/form' %>
      <% else %>
        <%= render 'ratings/rating', task: @task %>
      <% end %> 
      <br><br>   
    </section>
    
    <section class="comment-section">
      <div id="room-id" data-room-id="<%= @task.id %>"> 
        <h2 class="fw-light">
            <%= t('comments.comments') %> : <%= comment_count @task %> 
        </h2><br>

        <div class="container">
          <div class="row">           
              <div id="comments-list" class="comments-list">
                <% unless comment_count(@task).zero? %>
                  <%= render @task.comments %>
                <% end %>   

                <div id="msg-<%= @task.id %>"></div>
              </div>  
          </div>
        </div>
              
        <% if current_user %>
        <div class="comment-form"><br>
          <h2 class="fw-light"><%= t('comments.leave_a_reply') %></h2>
           <%= render 'comments/form' %>
        </div>
        <% end %>

      </div>
    </section>
  </article>
</div>