<%= form_with(model: [@task, @task.ratings.build]) do |form| %>
	<div class="d-flex">
		<div class="flex-shrink-0" 
				 id = "rating-form" 
				 data-score = "<%= average_score @task %>">
		</div>

		<div class="flex-grow-1 ms-3">
			<%= form.submit t('tasks.rate'), class: "btn btn-warning btn-sm" %>
		</div>
	</div>
<% end %>

<script>
  $('#rating-form').raty({
  	starHalf : '<%= asset_path('star-half.png') %>',
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
 
    scoreName: 'rating[score]',
    half: false,
  });
</script>  